<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{81,88}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,10},{81,88}}</string>
                <key>sourceSize</key>
                <string>{117,106}</string>
            </dict>
            <key>attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{95,90}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{95,90}}</string>
                <key>sourceSize</key>
                <string>{117,106}</string>
            </dict>
            <key>attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{93,90}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,8},{93,90}}</string>
                <key>sourceSize</key>
                <string>{117,106}</string>
            </dict>
            <key>attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{107,92}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{107,92}}</string>
                <key>sourceSize</key>
                <string>{117,106}</string>
            </dict>
            <key>attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{109,94}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{109,94}}</string>
                <key>sourceSize</key>
                <string>{117,106}</string>
            </dict>
            <key>attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,99},{107,94}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{107,94}}</string>
                <key>sourceSize</key>
                <string>{117,106}</string>
            </dict>
            <key>attack_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,99},{95,88}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{95,88}}</string>
                <key>sourceSize</key>
                <string>{117,106}</string>
            </dict>
            <key>move_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,99},{80,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,89}}</string>
                <key>sourceSize</key>
                <string>{80,89}</string>
            </dict>
            <key>move_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,99},{78,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{78,89}}</string>
                <key>sourceSize</key>
                <string>{80,89}</string>
            </dict>
            <key>move_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,99},{80,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,89}}</string>
                <key>sourceSize</key>
                <string>{80,89}</string>
            </dict>
            <key>move_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{80,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,89}}</string>
                <key>sourceSize</key>
                <string>{80,89}</string>
            </dict>
            <key>move_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,99},{80,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,89}}</string>
                <key>sourceSize</key>
                <string>{80,89}</string>
            </dict>
            <key>move_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,196},{78,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{78,89}}</string>
                <key>sourceSize</key>
                <string>{80,89}</string>
            </dict>
            <key>move_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,99},{80,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,89}}</string>
                <key>sourceSize</key>
                <string>{80,89}</string>
            </dict>
            <key>move_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,196},{80,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,89}}</string>
                <key>sourceSize</key>
                <string>{80,89}</string>
            </dict>
            <key>stand_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,196},{81,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,88}}</string>
                <key>sourceSize</key>
                <string>{81,88}</string>
            </dict>
            <key>stand_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,196},{81,86}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{81,86}}</string>
                <key>sourceSize</key>
                <string>{81,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Solider.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e0c2d0bf053659bc30e3d81d4481851$</string>
            <key>textureFileName</key>
            <string>Solider.png</string>
        </dict>
    </dict>
</plist>
